name: Rust

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
    - name: Check
      run: make check
    - name: Format
      run: make format
    - name: Test
      run: make test
    - name: Release
      run: make release
    - name: Upload Binary Artifact
      uses: actions/upload-artifact@v4
      with:
        name: release-binary
        path: target/release/Leo_Chen_Individual_2